{% extends 'models/main.twig' %}

{% block content %}
<div class="block-center" >
  <div class="form-wrapp">
    <div class="tabs">
      <a href="javascript:void(0);" rel=".authorization">title_login</a>
      <a class="active-tab" href="javascript:void(0);" rel=".registration">
        title_registration
      </a>
    </div>
    <form method="post" action="index.php?route=login/login">
      <fieldset class="authorization">
        <div class="form_block">
          <input name="login" data-valid="required" type="text"
                 placeholder="Введите логин">
        </div>
        <div class="form_block">
          <input name="pass" data-valid="required" type="password"
                 placeholder="Введите пароль">
        </div>
        <input type="submit" value="button_login">
      </fieldset>
    </form>

    <form id="signUp" action="/api/signUp"
          method="post" enctype="multipart/form-data">
      <fieldset class="registration">
        <div class="form_block" id="photo" title="form_dz_title">
          <div class="photo-wrapp" id="drop-zone">
            <span class="vertical-center">drag_drop</span>
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
            <input name="fio" type="text" placeholder="ФИО*">
          </div>
          <div class="element-wrapper">
            <input name="login" type="text" placeholder="Логин*">
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
              <input name="phone" type="text" placeholder="Телефон">
          </div>
          <div class="element-wrapper">
              <input name="email" type="text"  placeholder="Email*">
          </div>
        </div>

        <div class="form_block">
          <div class="element-wrapper">
              <input name="pass" type="password" placeholder="Пароль*">
          </div>
          <div class="element-wrapper">
              <input name="repeat_pass" type="password"
                     placeholder="Повторить пароль*">
          </div>
        </div>

        <input type="submit" value="button_registration">
      </fieldset>
    </form>
  </div>
</div>
{% endblock content %}
