<!DOCTYPE html>
<html lang="en" ng-app="authApp">
<head>
  <meta charset="UTF-8">
  <title>Главная страница</title>
  <!-- including of style -->
  <link rel="stylesheet" href="styles/css/common.css" type="text/css"/>
  <!-- including of favicon -->
  <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
  <!-- including of scripts -->
  {#<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>#}
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="scripts/js/common.js"></script>
  {% if pageScripts %}
    {% for script in pageScripts %}
      <script src="scripts/js/{{ script }}"></script>
    {% endfor %}
  {% endif %}
</head>
<body>
  <header>
    <ul class="menu">
      <li><a href="">Авторизация</a></li>
      <li><a href="">Регистрация</a></li>
      <li><a href="">Редактирование переводов</a></li>
    </ul>
  </header>
  {% block content %}{% endblock %}
</body>
</html>
