<div class="block-center">
    <div class="canvas">
      <h3>{{ translates.title_translates_editing }}</h3>
      <label>Текущий язык:</label>
      <form ng-submit="doEditTranslates()" name="ET">
        <select class="form-control" ng-model="curLang.langCode">
          <option value="{{ lang.code }}"
                  ng-repeat="lang in languages">{{ lang.title }}</option>
        </select>
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Язык</th>
              <th>Ключевое слово</th>
              <th>Перевод</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="word in filteredWords = (words | filter:curLang) track by word.id"
                ng-class="{ danger : word.dirty, success : word.saved }">
              <td>{{ word.langCode }}</td>
              <td>
                <input ng-model="word.key" ng-model-options="{ debounce: 1500 }"
                       value="{{ word.key }}">
              </td>
              <td>
                <textarea ng-model="word.val" class="{{ word.color }}"
                          ng-model-options="{ debounce: 1500 }">{{ word.val }}</textarea>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="save" type="submit">
          <span>{{ translates.button_save }}</span>
        </button>
      </form>
    </div>
</div>
